{% extends 'template.html.twig' %}

{% block title %}ApproManager - Liste Opérateur{% endblock %}

{% block body %}

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Liste des opérateurs</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Postnom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for operateur in operateurs %}
                      <tr>
                        <td>{{ operateur.nom }}</td>
                        <td>{{ operateur.postnom }}</td>
                        <td>{{ operateur.prenom }}</td>
                        <td>{{ operateur.telephone }}</td>
                        <td>
                          <a href="" class="btn btn-primary">Voir</a>
                          <a href="{{ path("app_register", {id: operateur.id}) }}" class="btn btn-primary">Modifier</a>
                          <a href="" class="btn btn-primary">Supprimer</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}