{% extends 'template_op.html.twig' %}

{% block title %}ApproManager - Déclaration{% endblock %}

{% block body %}

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Formulaire Déclaration d'un produit</h4>
                        <p class="card-description">
                            Remplir ce formulaire
                        </p>
                        {{ form_start(form, {'attr': {
                            'class':'forms-sample',
                        }}) }}
                            <div class="form-group">
                                {{ form_label(form.produit) }}
                                {{ form_widget(form.produit, {'attr': {
                                    'class':'required form-control',
                                }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.user) }}
                                {{ form_widget(form.user, {'attr': {
                                    'class':'required form-control',
                                }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.qte_achete) }}
                                {{ form_widget(form.qte_achete, {'attr': {
                                    'class':'required form-control',
                                }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.qte_vendue) }}
                                {{ form_widget(form.qte_vendue, {'attr': {
                                    'class':'required form-control',
                                }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.nature) }}
                                {{ form_widget(form.nature, {'attr': {
                                    'class':'required form-control',
                                }}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.date_declaration) }}
                                {{ form_widget(form.date_declaration, {'attr': {
                                    'class':'required form-control',
                                }}) }}
                            </div>

                        {{ form_widget(form.editer, {'attr': {'class':'btn btn-primary'}}) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}