{% extends 'template_insp.html.twig' %}

{% block title %}ApproManager - Liste Rapports{% endblock %}

{% block body %}

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Liste des rapports</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Produit</th>
                    <th>Quantite</th>
                    <th>Nature</th>
                    <th>Operateur</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for rapport in rapports %}
                      <tr>
                        <td>{{ rapport.produit }}</td>
                        <td>{{ rapport.quantite }}</td>
                        <td>{{ rapport.nature }}</td>
                        <td>{{ rapport.operateur }}</td>
                        <td>
                          <a href="" class="btn btn-primary">Voir</a>
                          <a href="{{ path("app_register", {id: rapport.id}) }}" class="btn btn-primary">Modifier</a>
                          <a href="" class="btn btn-primary">Supprimer</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}